---
title: "Categories"
layout: default
permalink: "/categories"
description: "Browse reviews and articles by category: rotors, chainrings, cranks, handlebars, wheels, accessories, training, and more."
---

<div class="container">
    <header class="py-5 mb-4 border-bottom">
        <div class="text-center">
            <h1 class="fw-bold">Categories</h1>
        </div>
    </header>

    {% for category in site.categories %}
    <section class="mb-5">
        <h3 class="fw-bold pb-3 mb-4 border-bottom" id="{{ category[0] | downcase }}">{{ category[0] | capitalize }}</h3>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% assign pages_list = category[1] %}
            {% for post in pages_list %}
            {% if post.title != null %}
            <div class="col">
                {% include card.html %}
            </div>
            {% endif %}
            {% endfor %}
            {% assign pages_list = nil %}
        </div>
    </section>
    {% endfor %}
</div>
