<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/">Home</a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="rankingsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Rankings
    </a>
    <ul class="dropdown-menu" aria-labelledby="rankingsDropdown">
        {% for cat in site.data.categories %}
        {% assign cat_key = cat[0] %}
        {% assign cat_data = cat[1] %}
        {% assign cat_products = site.products | where: "category", cat_key %}
        {% if cat_products.size > 0 %}
        <li>
            <a class="dropdown-item" href="{{site.baseurl}}/{{ cat_key }}/">
                <i class="bi {{ cat_data.icon }} me-2"></i>{{ cat_data.name }}
            </a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/blog">Blog</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/compare">Compare</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/about">About</a>
</li>
